@import url('https://fonts.googleapis.com/css?family=Montserrat');

.logo{
    height:40px ;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.navbar{
    background-color: #1d294c;   
}

.container{
    color: white;
}
*{
    font-family: 'Montserrat', cursive;
}
.movie.card{
    border-radius: 15px
}
a.nav-link{
    color: white;
}
h5{
    color: black;
}
input.details{
    width: 42px;
    height: 42px;
}
div.card-body{
    padding: 5px;
}
div.col-3.movie.card.col-sm-4.col-md-3.col-lg-2.m-2.p-0.recent{
    height: 200px;
    width: 200px;
}
iframe{
    height: 500px;
}
.login{
    color: white;
    text-align: center;
}
h1.login.border-bottom{
   padding-bottom: 20px;
   padding-top: 20px;
}
section.resume.text-center{
    background-color: lightGray;
    padding: 20px;
    border-radius: 10px;
    color: black;
}
.gallery {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
img.img-fluid{
    max-width: 50%
}
section.resume{
    background-color: lightGray;
    padding: 20px;
    border-radius: 10px;
    color: black;
}
.likes {
    font-size: 20px;  
    text-align: center;
}
img.hearts {
	margin-top: 5px;
    width: 32px;
    height: 30px;
    position: relative;
    display: inline-block;
}
.button {
    display: inline-block;
    padding: 0.3rem 1rem;
    border-radius: 1rem;
    text-decoration: none;
    font-weight: bold;
    background: #0D6EFD;
    color: rgb(255, 255, 255);
    border: none;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    margin-bottom: 10px;
    margin: 5px;
}
.custom-invalid-feedback{
	color: red;
}
input.nav-link{
	background-color: #212529;
}
input.delete{
    width: 40px;
    height: 40px;
}
img.card-img-top{
    border-radius: 10px 10px;
}
div.card-body.buttons-wrapper{
	display: flex;
}
div.likes.likes-btn-wrapper{
	display: flex;
	justify-content: center;
}
span#total-likes{
	margin-left: 5px;
	margin-top: 5px;
}