<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/common::head">

</head>

<body background="/image/2.png">
	<header th:replace="fragments/common::navigation"> </header>

	<main>
		<br> <br> <br>
		<h1 class="login border-bottom mb-5">Login</h1>
		<div class="d-flex justify-content-center">

			<div class="row g-3 align-items-center">

				<form action="#" method="post">
					<div>
						<div class="col-auto">
							<label for="inputUsername" class="login col-form-label">Username</label>
						</div>
						<div class="col-auto">
							<input type="text" th:errorclass="is-invalid" id="inputUsername"
								class="form-control" min="4" max="50"
								aria-describedby="usernameHelpInline" placeholder="username">
							<p class="invalid-feedback errors alert alerd-danger">
								Invalid username</p>
						</div>
					</div>
					<div>
						<div class="col-auto">
							<label for="inputPassword" class="login col-form-label ">Password</label>
						</div>
						<div class="col-auto">
							<input type="password" name="password" errorclass="is-invalid"
								id="inputPassword" min="4" max="50" class="form-control"
								aria-describedby="passwordHelpInline" placeholder="password">

							<p class="invalid-feedback errors alert alerd-danger">Wrong
								password</p>
						</div>
					</div>
					<br>

					<div class="d-flex justify-content-left mt-2">
						<button class="btn btn-primary btn-block w-50" type="submit">Login</button>
					</div>
				</form>
			</div>

		</div>
	</main>
	<br>
	<br>
	<br>
	<br>
	<div class="container">
		<div class="row">
			<footer th:replace="fragments/common::footer">
			</footer>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
		integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
		integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
		crossorigin="anonymous"></script>
</body>

</html>